
a{
  text-decoration: none;
}
.el-form-item--small .el-form-item__label {
    height: 34px;
    line-height: 34px;
}

.el-form--inline {
  .el-form-item {
    .el-input, .el-cascader, .el-select, .el-autocomplete {
      width: 190px !important;
    }
  }
}

.el-pagination{
    justify-content: flex-end;
    padding: 10px 5px 0;
}